### Import libraries

In [1]:
import setlist_fm_client
from setlist_fm_client import enums
import httpx
import os
import pandas as pd

### Check response

In [2]:
os.environ["SETLIST_FM_API_KEY"] = "my_API_key"
response = setlist_fm_client.get_artist_setlists("0bfba3d3-6a04-4779-bb0a-df07df5b0558")
response

### Search for artist ID on: https://musicbrainz.org/

#### 1/4: Tame Impala

In [3]:
import setlist_fm_client

setlists = setlist_fm_client.get_artist_setlists(
    "63aa26c3-d59b-4da4-84ac-716b54f1ef4d", 
    api_key="my_API_key", 
    serialize=True,
    p = 6
)
tame_impala_dict = setlists.dict()['setlist']

In [4]:
def extract_values(data):
    records = []
    for record in data:
        for thing in record['sets']['set']:
            for song in thing['song']:
                records.append({ 
                    'RecordID' : record['id'],
                    'Date': record['event_date'],
                    'VenueName': record['venue']['name'],
                    'TourName': record['tour'],
                    'Info': record['info'],
                    'City': record['venue']['city']['name'],
                    'State': record['venue']['city']['state'],
                    'Country': record['venue']['city']['country']['name'],
                    'Latitude': record['venue']['city']['coords']['lat'],
                    'Longitude': record['venue']['city']['coords']['long'],
                    'SongName': song['name'],
                    'Cover': song['cover'],
                    'Encore': thing['encore'],
                    'URL': record['url']
                })
    return records

records = extract_values(tame_impala_dict)
tame_impala = pd.DataFrame(records)
tame_impala.head()

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL
0,739fda35,2019-08-17,Domein Kiewit,None,None,Hasselt,Limburg,Belgium,50.93,5.338,List of People (To Try and Forget About),None,NaN,https://www.setlist.fm/setlist/tame-impala/201...
1,739fda35,2019-08-17,Domein Kiewit,None,None,Hasselt,Limburg,Belgium,50.93,5.338,Let It Happen,None,NaN,https://www.setlist.fm/setlist/tame-impala/201...
2,739fda35,2019-08-17,Domein Kiewit,None,None,Hasselt,Limburg,Belgium,50.93,5.338,Patience,None,NaN,https://www.setlist.fm/setlist/tame-impala/201...
3,739fda35,2019-08-17,Domein Kiewit,None,None,Hasselt,Limburg,Belgium,50.93,5.338,Led Zeppelin,None,NaN,https://www.setlist.fm/setlist/tame-impala/201...
4,739fda35,2019-08-17,Domein Kiewit,None,None,Hasselt,Limburg,Belgium,50.93,5.338,The Moment,None,NaN,https://www.setlist.fm/setlist/tame-impala/201...

#### 2/4: Gorillaz

In [5]:
gorillaz_setlists = setlist_fm_client.get_artist_setlists(
    "e21857d5-3256-4547-afb3-4b6ded592596", 
    api_key="my_API_key", 
    serialize=True
)
gorillaz_dict = gorillaz_setlists.dict()['setlist']

In [6]:
def extract_values(data):
    records = []
    for record in data:
        for thing in record['sets']['set']:
            for song in thing['song']:
                records.append({ 
                    'RecordID' : record['id'],
                    'Date': record['event_date'],
                    'VenueName': record['venue']['name'],
                    'TourName': record['tour'],
                    'Info': record['info'],
                    'City': record['venue']['city']['name'],
                    'State': record['venue']['city']['state'],
                    'Country': record['venue']['city']['country']['name'],
                    'Latitude': record['venue']['city']['coords']['lat'],
                    'Longitude': record['venue']['city']['coords']['long'],
                    'SongName': song['name'],
                    'Cover': song['cover'],
                    'Encore': thing['encore'],
                    'URL': record['url']
                })
    return records

records = extract_values(gorillaz_dict)
gorillaz = pd.DataFrame(records)
gorillaz.head()

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL
0,bb8d5d2,2023-04-21,Empire Polo Club,None,Livestreamed on the Coachella YouTube channel....,Indio,California,United States,33.7205771,-116.2155619,M1 A1,None,NaN,https://www.setlist.fm/setlist/gorillaz/2023/e...
1,bb8d5d2,2023-04-21,Empire Polo Club,None,Livestreamed on the Coachella YouTube channel....,Indio,California,United States,33.7205771,-116.2155619,Tranz,None,NaN,https://www.setlist.fm/setlist/gorillaz/2023/e...
2,bb8d5d2,2023-04-21,Empire Polo Club,None,Livestreamed on the Coachella YouTube channel....,Indio,California,United States,33.7205771,-116.2155619,The Valley of the Pagans,None,NaN,https://www.setlist.fm/setlist/gorillaz/2023/e...
3,bb8d5d2,2023-04-21,Empire Polo Club,None,Livestreamed on the Coachella YouTube channel....,Indio,California,United States,33.7205771,-116.2155619,Cracker Island,None,NaN,https://www.setlist.fm/setlist/gorillaz/2023/e...
4,bb8d5d2,2023-04-21,Empire Polo Club,None,Livestreamed on the Coachella YouTube channel....,Indio,California,United States,33.7205771,-116.2155619,O Green World,None,NaN,https://www.setlist.fm/setlist/gorillaz/2023/e...

#### 3/4: TV on the Radio

In [7]:
tv_radio_setlists = setlist_fm_client.get_artist_setlists(
    "eb872766-98f6-453d-883f-2ae908a18315", 
    api_key="my_API_key", 
    serialize=True,
    p = 20
)
tv_radio_dict = tv_radio_setlists.dict()['setlist']

In [8]:
def extract_values(data):
    records = []
    for record in data:
        for thing in record['sets']['set']:
            for song in thing['song']:
                records.append({ 
                    'RecordID' : record['id'],
                    'Date': record['event_date'],
                    'VenueName': record['venue']['name'],
                    'TourName': record['tour'],
                    'Info': record['info'],
                    'City': record['venue']['city']['name'],
                    'State': record['venue']['city']['state'],
                    'Country': record['venue']['city']['country']['name'],
                    'Latitude': record['venue']['city']['coords']['lat'],
                    'Longitude': record['venue']['city']['coords']['long'],
                    'SongName': song['name'],
                    'Cover': song['cover'],
                    'Encore': thing['encore'],
                    'URL': record['url']
                })
    return records

records = extract_values(tv_radio_dict)
tv_radio = pd.DataFrame(records)
tv_radio.head()

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL
0,1bd12564,2007-03-12,Metro,None,None,Chicago,Illinois,United States,41.850033,-87.6500523,Dirtywhirl,None,NaN,https://www.setlist.fm/setlist/tv-on-the-radio...
1,1bd12564,2007-03-12,Metro,None,None,Chicago,Illinois,United States,41.850033,-87.6500523,The Wrong Way,None,NaN,https://www.setlist.fm/setlist/tv-on-the-radio...
2,1bd12564,2007-03-12,Metro,None,None,Chicago,Illinois,United States,41.850033,-87.6500523,Dreams,None,NaN,https://www.setlist.fm/setlist/tv-on-the-radio...
3,1bd12564,2007-03-12,Metro,None,None,Chicago,Illinois,United States,41.850033,-87.6500523,I Was a Lover,None,NaN,https://www.setlist.fm/setlist/tv-on-the-radio...
4,1bd12564,2007-03-12,Metro,None,None,Chicago,Illinois,United States,41.850033,-87.6500523,Province,None,NaN,https://www.setlist.fm/setlist/tv-on-the-radio...

#### 4/4: Dredg

In [9]:
dredg_setlists = setlist_fm_client.get_artist_setlists(
    "7b2f87f6-db90-464e-a27a-deb4f7219e90", 
    api_key="my_API_key", 
    serialize=True
)
dredg_dict = dredg_setlists.dict()['setlist']

In [10]:
def extract_values(data):
    records = []
    for record in data:
        for thing in record['sets']['set']:
            for song in thing['song']:
                records.append({ 
                    'RecordID' : record['id'],
                    'Date': record['event_date'],
                    'VenueName': record['venue']['name'],
                    'TourName': record['tour'],
                    'Info': record['info'],
                    'City': record['venue']['city']['name'],
                    'State': record['venue']['city']['state'],
                    'Country': record['venue']['city']['country']['name'],
                    'Latitude': record['venue']['city']['coords']['lat'],
                    'Longitude': record['venue']['city']['coords']['long'],
                    'SongName': song['name'],
                    'Cover': song['cover'],
                    'Encore': thing['encore'],
                    'URL': record['url']

                })
    return records

records = extract_values(dredg_dict)
dredg = pd.DataFrame(records)
dredg.head()

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL
0,63c30e63,2014-05-03,Gruenspan,None,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Ode to the Sun,None,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...
1,63c30e63,2014-05-03,Gruenspan,None,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Bug Eyes,None,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...
2,63c30e63,2014-05-03,Gruenspan,None,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Catch Without Arms,None,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...
3,63c30e63,2014-05-03,Gruenspan,None,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Not That Simple,None,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...
4,63c30e63,2014-05-03,Gruenspan,None,Second show of the day,Hamburg,Hamburg,Germany,53.55,10.0,Zebraskin,None,NaN,https://www.setlist.fm/setlist/dredg/2014/grue...

#### Make setlist datasets

In [11]:
my_df = []
import time

for i in range(1,53):
    setlists = setlist_fm_client.get_artist_setlists(
        "20244d07-534f-4eff-b4d4-930878889970", 
        api_key="my_API_key", 
        serialize=True,
        p = i
    )
    artist_dict = setlists.dict()['setlist']
    
    records = extract_values(artist_dict)
    artist = pd.DataFrame(records)
    my_df.append(artist)
    time.sleep(3)

In [12]:
df = pd.concat(my_df)
df.head(3)

/var/folders/yr/521qh_vn01n7j762jny9bmhw0000gn/T/ipykernel_44583/469308767.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(my_df)

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL
0,2baa4036,2024-05-19,Friends Arena,{'name': 'The Eras Tour'},None,Solna,Stockholm County,Sweden,59.3600363042203,18.0008625984192,,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...
1,2baa4036,2024-05-19,Friends Arena,{'name': 'The Eras Tour'},None,Solna,Stockholm County,Sweden,59.3600363042203,18.0008625984192,Miss Americana & the Heartbreak Prince,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...
2,2baa4036,2024-05-19,Friends Arena,{'name': 'The Eras Tour'},None,Solna,Stockholm County,Sweden,59.3600363042203,18.0008625984192,Cruel Summer,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...

In [14]:
df.tail(3)

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL
6,43fba31b,2004-11-04,The Bluebird Cafe,None,None,Nashville,Tennessee,United States,36.1658899,-86.7844432,Me and Britney,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...
7,43fba31b,2004-11-04,The Bluebird Cafe,None,None,Nashville,Tennessee,United States,36.1658899,-86.7844432,Beautiful Eyes,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...
8,73c826cd,2002-04-05,First Union Center,None,Philadelphia 76ers game,Philadelphia,Pennsylvania,United States,39.952335,-75.163789,The Star-Spangled Banner,{'mbid': '6aebec4f-db27-4280-805b-5dd81d5c63cb...,NaN,https://www.setlist.fm/setlist/taylor-swift/20...

In [15]:
df['song_num'] = df.groupby(['RecordID']).cumcount()
df['Date'] = pd.to_datetime(df['Date'],format='%Y%m%d')
df.head(3)

,RecordID,Date,VenueName,TourName,Info,City,State,Country,Latitude,Longitude,SongName,Cover,Encore,URL,song_num
0,2baa4036,2024-05-19,Friends Arena,{'name': 'The Eras Tour'},None,Solna,Stockholm County,Sweden,59.3600363042203,18.0008625984192,,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...,0
1,2baa4036,2024-05-19,Friends Arena,{'name': 'The Eras Tour'},None,Solna,Stockholm County,Sweden,59.3600363042203,18.0008625984192,Miss Americana & the Heartbreak Prince,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...,1
2,2baa4036,2024-05-19,Friends Arena,{'name': 'The Eras Tour'},None,Solna,Stockholm County,Sweden,59.3600363042203,18.0008625984192,Cruel Summer,None,NaN,https://www.setlist.fm/setlist/taylor-swift/20...,2

In [16]:
#df.to_csv('taylor_swift_setlists.csv', index=False)